nav {
    width:95%;
    height: 40px;
    background-color:#0d4d47 ;
    color: #bfdde6;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    padding: 5px;
    margin:0;
    top: 0;
    
}

.content {
    margin: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content:  space-between;

}
.link{
    display:flex;
    align-items: center;
    gap: 10px;
    text-decoration:  none;
    color: black;
    transition: color 0.3s;
    cursor: pointer;
}

.link:hover
{
    color: #6bb9d6;
}

.profile-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
   
}

.logo{
    color: #333;
    font-size: 28px;
    font-weight: bold;
    
}

.body{
    margin: 0;;
    background-color: #d8eef5;
    font-family: arial;
}