.right {
  
  height: 50vh;
  width: 50vw;
  /* border: 5px solid greenyellow; */
background-color: aquamarine;
}
.right img{
    height: 50vh;
  width: 50vw;
  margin: auto;
}
.left{
    
    align-items: right;
    flex-direction: column;
    display: flex;
    background-color: lightgreen;
    font-style: italic;
    font-size: large;
    
    /* border: 5px solid greenyellow; */
}

.container{
    /* border: 5px solid greenyellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

    
}
.button{
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  border-radius: 20px;
  transition: black;
  
}
.button:hover{
  color: blue;
}