.main-hero {
  width: 100%;
}

.imageStyle {
  padding: 10px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  margin-top: 400px;
  margin-right: 400px;
}

.button:hover {
  color: #a3cedd;
}

.style.heroTopic{
  font-size: large;
  font-style: italic;
  
  
}

.style.heroh2{
  font-size: larger;
  font-style: italic;
  color: white;
}
 .heroContent{
  font-size: large;
  color: white;
 }

