footer {
  display: flex;
  width: 100vw;
  bottom: 0;
  background-color: #c3ecfb;
  color: #2b6980;
}

.content {
  display: inline-flex;
  gap: 50px;
  color: #2b6980;
}

ul {
  list-style: none;
  font-style: italic;
  font-size: large;
  color: #2b6980;
}
h1 {
  font-style: italic;
  font: large;
}
li {
  font-style: italic;
}

h2 {
  font-style: italic;
  font-size: large;
}
p {
  font-style: italic;
  font-size: large;
}

button {
  width: 100px;
  height: 50px;
  background-color: #2b6980;
  color: white;
  align-items: center;
  /* justify-content: center; */
  margin-left: 300px;
  border-radius: 20px;
  transition: black;
}
button:hover {
  color: #a3cedd;
}


.contentContainer {
  width: 100%;
}

footer {
  background-color: white;
  color: #2b6980;
}

.iconImage {
  display: flex;
  gap: 10px;
  height: 30px;
  width: 30px;
  margin-top: 200px;
  margin-right: 20px;

}


.footerh2 {
  font-style: italic;
  font-size: large;
  color: #2b6980;
}

.footerp {
color: #2b6980;
}

.emailh2 {
  font-style: italic;
  font-size: medium;
  color: #2b6980;
  margin-top: 250px;
  margin-right: 5px;
}